@font-face {
    font-family: "Montserrat-Light";
    src: url(../fonts/Montserrat-Light.ttf);
}
@font-face {
    font-family: "Montserrat-Bold";
    src: url(../fonts/Montserrat-Bold.ttf);
}
@font-face {
    font-family: "RobotoMono-Light";
    src: url(../fonts/RobotoMono-Light.ttf);
}
:focus {
    outline: none;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat-Bold";
    color: rgb(205, 205, 205);
}
p, button, a, i, img, input, textarea, label {
    font-family: "Montserrat-Light";
    color: rgb(190, 190, 190);
}
#html_code, #html_dummy, #css_code, #css_dummy {
    font-family: "RobotoMono-Light";
    color: rgb(190, 190, 190);
}
.small_size {
    font-size: small;
}
body {
    margin: 0px;
    overflow: hidden;
}
.header {
    transition: all 0.5s ease;
    display: flex;
    position: fixed;
    align-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    width: calc(100vw - 20px);
    height: 60px;
    background: rgb(20, 20, 20);
    color: rgb(221, 221, 221);
    z-index: 1;
    overflow-x: auto;
    overflow-y: hidden;
}
.form_group {
    /* height: 46px; */
    width: max-content;
    border: 1px solid;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    overflow: visible;
}
.form_group input{
    background:none;
    border: none;
    padding: 10px;
}
.form_group p{
    margin: 0;
    padding: 10px;
    font-size: 13px;
    word-wrap: normal;
}
.form_group input[type="color"]{
    background: local;
    border: initial;
    padding: 0 10px;
}
.form_group button{
    background:none;
    border: none;
    border-left: inherit;
    border-radius: 0px;
    padding: 10px;
    margin: 0px;
    box-shadow: 0px 1px 10px rgba(20, 20, 20, 0.5) inset;
}
button:hover{
    background: rgba(20, 20, 20, 0.5);  
}
.form_group.style1 {
    border-color:rgb(17, 17, 17);
    background: rgb(34, 34, 34);
}
.form_group.style2 {
    border-color:rgb(126, 126, 126);
    background: rgb(230, 230, 230);
}
.form_group.style2 input, .form_group.style2 button {
    color: rgb(31, 31, 31) !important;
}
button{
    cursor: pointer;
    background:none;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    background: rgb(34, 34, 34);
}
button.submit_style {
    background: rgb(44, 90, 150);
    border: 1px solid rgb(22, 43, 71);
}
button.submit_style:hover {
    background: rgb(32, 65, 107);
    border: 1px solid rgb(14, 28, 46);
}
button.cancel_style {
    background: rgb(150, 44, 44);
    border: 1px solid rgb(71, 22, 22);
}
button.cancel_style:hover {
    background: rgb(107, 32, 32);
    border: 1px solid rgb(46, 14, 14);
}
button.text_only.confirm i{
    color: rgb(44, 150, 76);
}
button.text_only.confirm:hover i{
    color: rgb(32, 105, 54);
}
button.text_only.cancel i{
    color: rgb(150, 44, 44);
}
button.text_only.cancel:hover i{
    color: rgb(105, 32, 32);
}
button.text_only {
    background: none !important;
    border: none !important;
}
iframe {
    padding-top: 80px;
    width: 100%;
    height: calc(100vh - 80px);
}
/* Scrollbar */
::-webkit-scrollbar-corner {
    background: transparent;
}
::-webkit-scrollbar {
    background: rgb(43, 43, 43);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.308);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.408);
}

.modern_scrollbar::-webkit-scrollbar-corner {
    background: rgb(58, 58, 58);
    border-bottom-right-radius: 10px;
}
.modern_scrollbar::-webkit-scrollbar {
    background: none;
    border-radius: 0px;
    border: 1px solid rgb(58, 58, 58);
}
.modern_scrollbar::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.308);
    border-radius: 0px;
}
.modern_scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.408);
}
.source_code {
    position: fixed;
    top: 60vh;
    display:none;
    padding: 10px;
    width: calc(100% - 20px);
    height: calc(40vh - 20px);
    background: rgb(20, 20, 20);
}
.source_code.display {
    display: block;
}
.source_code .code_container {
    position: relative;
    overflow-x: auto;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    display: none;
}
.source_code .code_container.display {
    display: flex;
}
.source_code .code_container #html_lines, .source_code .code_container #css_lines{
    display: initial;
    width: 60px;
    padding: 0;
    margin: 0 10px 0 0;
    height: max-content;
    list-style: none;
    font-size: smaller;
    border-right: 1px solid rgb(58, 58, 58);
    text-align: center;
    font-family: "RobotoMono-Light";
    color: rgb(205, 205, 205);
    align-items: center;
}
.source_code .code_container #html_code, 
.source_code .code_container #html_dummy, 
.source_code .code_container #css_code,
.source_code .code_container #css_dummy{
    white-space: pre;
    font-size: smaller;
    border: none;
    width: max-content;
    height: max-content;
    background: none;
    resize: none;
    overflow-y: visible;
    overflow-x: visible;
    z-index: 100;
}
#html_code, #css_code {
    position: absolute;
    top: 0px; 
    left: 68px;
    color: rgba(255, 255, 255, 0.1);
}
.source_code .code_container #html_dummy, 
.source_code .code_container #css_dummy {
    position: absolute;
    top: 0px; 
    left: 68px;
    overflow: visible;
    z-index: -1;
}
button#run_code {
    display: none;
    background: rgb(131, 49, 49);
    position: absolute;
    border-radius: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    bottom: calc(40vh);
    right: 0;
    margin: 0;
}
button#run_code:hover {
    background: rgba(131, 49, 49, .5);
}
button#hide_source {
    display: none;
    background: rgb(49, 82, 131);
    position: absolute;
    border-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    bottom: calc(40vh);
    left: 0;
    margin: 0;
}
button#hide_source:hover {
    background: rgba(49, 82, 131, .5);
}
button#hide_source.display, button#run_code.display {
    display: initial;
}
.code_page_selector {
    display: none;
    background: none;
    position: fixed;
    border-radius: 0;
    bottom: calc(40vh);
    width: 100%;
    height: 36px;
    align-items: center;
    justify-content: center;
    background: rgb(15, 15, 15);
}
.code_page_selector.display {
    display: flex;
}
.code_page_selector button{
    height: 100%;
    background: rgba(0, 0, 0, 0.205);
    width: max-content;
    border: none;
    border-top: 2px solid rgb(51, 51, 51);
    border-radius: 0;
    margin: 0;
}
.code_page_selector button:hover{
    background: rgba(0, 0, 0, 0.5);
}
.code_page_selector button.html_color {
    border-color: rgb(214, 117, 37);
    color: rgb(214, 117, 37);
}
.code_page_selector button.css_color {
    border-color: rgb(37, 179, 214);
    color: rgb(37, 179, 214);
}
.notification_error {
    padding: 10px;
    border-top: 2px solid rgb(148, 51, 51);
    display: flex;
    align-items: center;
    background: rgb(15, 15, 15);
    position: fixed;
    bottom: -73px;
    right: 0;
    transition: bottom 1s ease;
}
.notification_error i{
    padding-right: 10px;
    font-size: large;
    color: rgb(148, 51, 51);
}
.notification_error.show {
    bottom: 0px;
}
.code_color_1 {
    color: rgb(53, 116, 209);
}
.code_color_2 {
    color: rgb(29, 107, 55);
}
.code_color_3 {
    color: rgb(209, 123, 53) !important;
}
.code_color_3 span {
    color: rgb(209, 123, 53) !important;
}
.code_color_4 {
    color: rgb(0, 153, 158);
}
.code_color_5 {
    color: rgb(153, 86, 32);
}
.code_color_5 span{
    color: rgb(153, 86, 32);
}
.code_color_6 {
    color: rgb(91, 184, 107);
}
.code_color_7 {
    color: rgb(127, 91, 184);
}
.code_color_8 {
    color: rgb(170, 168, 59);
}
.code_color_error {
    color: rgb(212, 59, 59);
}
.window {
    padding: 0px;
    display: none;
    background:rgb(43, 43, 43);
    border: 1px solid rgb(17, 17, 17);
    border-radius: 15px;
    min-width: 30%;
    max-width: 40%;
    max-height: 95vh;
    overflow-x: none;
    overflow-y: auto;
    text-align: center;
}
@media screen and (max-width: 600px) {
    .window {
        max-width: 95%;
    }
}
.window .title {
    position: sticky;
    width: calc(100% - 20px);
    padding: 10px;
    background: linear-gradient(to right, rgb(136, 11, 161), rgb(173, 7, 35));
    border-bottom: 1px solid rgb(17, 17, 17);
    justify-items: center;
    display: grid;
}
.window .content {
    width: calc(100% - 20px);
    padding: 10px;
    justify-items: center;
    display: grid;
}
.window.show {
    display: initial;
}
.windows_layer {
    position: fixed;
    display: none;
    top: 0;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    z-index: 100;
    background: rgba(0, 0, 0, 0.4);
}
.windows_layer.show {
    display: flex;
}
.flex_item {
    display: flex;
    align-items: center;
    justify-content: center;
}
@keyframes show_notification {
    0% {
        bottom: -72px;
    }
    20% {
        bottom: -72px;
    }
    50% {
        bottom: 0px;
    }
    70% {
        bottom: 0px;
    }
    90% {
        bottom: -72px;
    }
    100% {
        bottom: -72px;
    }
}
::-webkit-resizer {
    background: rgba(0, 0, 0, 0);
}
textarea {
    background:rgba(0, 0, 0, 0);
    height: 100px;
    width: 200px;
    padding: 10px;
    resize: none;
    border: none;
}
input[type="checkbox"].checkbox_type1 {
	display: none;
}
input[type="checkbox"].checkbox_type1 + label {
    line-height: 3em;
    cursor: pointer;
    font-size: small;
}
label i {
    font-size: xx-large;
}
input[type="checkbox"].checkbox_type1:checked + label i::before {
    content: "\eca8";
}

input[type="checkbox"].checkbox_type2 {
	display: none;
}
input[type="checkbox"].checkbox_type2 + label {
    cursor: pointer;
    padding: 10px;
}
input[type="checkbox"].checkbox_type2 + label:hover i {
    color: rgb(126, 126, 126);
}
input[type="checkbox"].checkbox_type2:checked + label i {
    color: rgb(42, 122, 175);
}
input[type="checkbox"].checkbox_type2:checked + label:hover i {
    color: rgb(32, 87, 124);
}

.icon {
    font-size: x-large;
}
label {
    display: flex;
    align-items: center;
    justify-items: center;
}
h1.title_color {
    background: linear-gradient(to right, rgb(136, 11, 161), rgb(173, 7, 35));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.text_underline {
    text-decoration: underline;
}
.form {
    display: grid;
    text-align: start;
    justify-items: start;
}
.modify_type {
    z-index: 100;
    position: fixed;
    display: flex;
    align-items: center;
    top: 80px;
    height: 50px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background: rgb(20, 20, 20);
    border-bottom: 1px solid rgb(56, 56, 56);
    border-right: 1px solid rgb(56, 56, 56);
    border-left: 1px solid rgb(56, 56, 56);
    overflow: hidden;
}
.modify_type .type {
    padding: 10px;
    margin: 0px;
    min-width: 20px;
    border-radius: 0px;
    font-size: large;
    background: none;
    border: none;
    color: rgb(205, 205, 205);
}
.border_right {
    border-right: 1px solid rgb(56, 56, 56) !important;
}
.border_left {
    border-left: 1px solid rgb(56, 56, 56) !important;
}
.separator.border_right {
    border-right: 1px solid rgb(56, 56, 56) !important;
    height: 100%;
    margin: 0px 10px;
}
.separator.border_left {
    border-left: 1px solid rgb(56, 56, 56) !important;
    height: 100%;
    margin: 0px 10px;
}

.modify_type .type:hover i{
    color: rgb(126, 126, 126);
}
.modify_type .type.active i{
    color: rgb(42, 122, 175);
}
.modify_type .type.active:hover i{
    color: rgb(32, 87, 124);
}
#toggle_cssrule_menu {
    position: fixed;
    bottom: 30px;
    right: 30px;
    border: none;
    z-index: 100;
    background: rgb(42, 122, 175);
}
#toggle_cssrule_menu:hover {
    background: rgb(32, 87, 124);
}
#toggle_del_cssrule_menu {
    position: fixed;
    bottom: 80px;
    right: 30px;
    border: none;
    z-index: 100;
    background: rgb(175, 42, 42);
}
#toggle_cssrule_menu:hover {
    background: rgb(124, 32, 32);
}
div#modify_element {
    z-index: 100;
    position: fixed;
    display: none;
    align-items: center;
    top: 80px;
    right: 20px;
    height: 50px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background: rgb(20, 20, 20);
    border-bottom: 1px solid rgb(56, 56, 56);
    border-right: 1px solid rgb(56, 56, 56);
    border-left: 1px solid rgb(56, 56, 56);
    overflow: hidden;
}
div#modify_element.display {
    display: flex;
}
input[type="color"].border {
    -webkit-appearance: none;
    border: none;
    border-radius: 15px;
    width: 30px;
    height:30px;
    margin: 10px;
    background: none;
}
input[type="color"].border::-webkit-color-swatch {
    border: none;
    border-radius: 15px;
    padding: 0;
    background: none;
}
input[type="color"].border::-webkit-color-swatch-wrapper {
    border: none;
    border-radius: 15px;
    padding: 0;
    background: none;
}
select {
    background: rgb(34, 34, 34);
    font-family: 'Montserrat-Bold';
    color: rgb(190 190 190);
    border: 1px solid rgb(62, 62, 62);
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
}