@font-face {
    font-family: "Montserrat-Light";
    src: url(../fonts/Montserrat-Light.ttf);
}
@font-face {
    font-family: "Montserrat-Bold";
    src: url(../fonts/Montserrat-Bold.ttf);
}
@font-face {
    font-family: "RobotoMono-Light";
    src: url(../fonts/RobotoMono-Light.ttf);
}
:focus {
    outline: none;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat-Bold";
    color: rgb(205, 205, 205);
}
p, button, a, i, img, input {
    font-family: "Montserrat-Light";
    color: rgb(190, 190, 190);
}
textarea {
    font-family: "RobotoMono-Light";
    color: rgb(190, 190, 190);
}
body {
    margin: 0px;
    overflow: hidden;
}
.header {
    transition: all 0.5s ease;
    display: flex;
    position: fixed;
    align-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    width: calc(100vw - 20px);
    height: 60px;
    background: rgb(20, 20, 20);
    color: rgb(221, 221, 221);
    z-index: 1;
    overflow-x: auto;
    overflow-y: hidden;
}
.form_group {
    height: 46px;
    width: max-content;
    border: 1px solid;
    margin: 0 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    overflow: visible;
}
.form_group input{
    background:none;
    border: none;
    padding: 10px;
}
.form_group p{
    margin: 0;
    padding: 10px;
    font-size: 13px;
    word-wrap: normal;
}
.form_group input.initial{
    background: local;
    border: initial;
    padding: 0 10px;
}
.form_group button{
    background:none;
    border: none;
    border-left: inherit;
    border-radius: 0px;
    padding: 10px;
    box-shadow: 0px 1px 10px rgba(20, 20, 20, 0.5) inset;
}
button:hover{
    background: rgba(20, 20, 20, 0.5);  
}
.form_group.style1 {
    border-color:rgb(17, 17, 17);
    background: rgb(34, 34, 34);
}
.form_group.style2 {
    border-color:rgb(126, 126, 126);
    background: rgb(230, 230, 230);
}
.form_group.style2 input, .form_group.style2 button {
    color: rgb(31, 31, 31) !important;
}
button{
    cursor: pointer;
    background:none;
    border: none;
    border-left: inherit;
    border-radius: 10px;
    padding: 10px;
    background: rgb(34, 34, 34);
    box-shadow: 0px 1px 10px rgba(20, 20, 20, 0.5) inset;
}
iframe {
    padding-top: 80px;
    width: 100%;
    height: calc(100vh - 80px);
}
/* Scrollbar */
::-webkit-scrollbar {
    background: rgb(43, 43, 43);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.308);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.408);
}
.source_code {
    position: fixed;
    bottom: 0;
    display:none;
    padding: 10px;
    width: calc(100% - 20px);
    height: calc(40vh - 20px);
    background: rgb(20, 20, 20);
}
.source_code.display {
    display: block;
}
.source_code textarea{
    border: none;
    width: 100%;
    height: 100%;
    background: none;
    resize: none;
}
button#run_code {
    background: rgb(131, 49, 49);
    position: absolute;
    border-radius: 0;
    top: -36px;
    right: 0;
}

button#run_code:hover {
    background: rgba(131, 49, 49, .5);
}
button#hide_source {
    background: rgb(49, 82, 131);
    position: absolute;
    border-radius: 0;
    top: -36px;
    left: 0;
}
button#hide_source:hover {
    background: rgba(49, 82, 131, .5);
}
.notification_error {
    padding: 10px;
    background: rgb(148, 51, 51);
    position: fixed;
    bottom: -72px;
    right: 0;
}
.notification_error.show {
    animation: show_notification 2s;
}
@keyframes show_notification {
    0% {
        bottom: -72px;
    }
    20% {
        bottom: -72px;
    }
    50% {
        bottom: 0px;
    }
    70% {
        bottom: 0px;
    }
    90% {
        bottom: -72px;
    }
    100% {
        bottom: -72px;
    }
}