@font-face {
    font-family: "Montserrat-Light";
    src: url(../fonts/Montserrat-Light.ttf);
}
@font-face {
    font-family: "Montserrat-Bold";
    src: url(../fonts/Montserrat-Bold.ttf);
}
@font-face {
    font-family: "RobotoMono-Light";
    src: url(../fonts/RobotoMono-Light.ttf);
}
body {
    text-align: center;
    align-items: center;
    justify-items: center;
    background: rgb(30, 30, 30);
    margin: 0px;
    overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat-Bold";
    color: rgb(205, 205, 205);
}
p, button, a, i, img, input {
    font-family: "Montserrat-Light";
    color: rgb(190, 190, 190);
}
:focus {
    outline: none;
}
body::-webkit-scrollbar {
    cursor: default;
    background: linear-gradient(to bottom, rgb(218, 218, 218), rgb(199, 199, 199));
}
body::-webkit-scrollbar-thumb {
    cursor: default;
    background: rgb(172, 172, 172);
    border-radius: 10px;
}
body::-webkit-scrollbar-thumb:hover {
    background: rgb(126, 126, 126);
}
.content {
    padding: 10px 30vw;
}
.header {
    padding: 10px 20px;
    width: 100%;
    height: 100vh;
    height: calc(50vh - 20px);
    width: calc(100% - 20px);
    justify-content: center;
    text-align: center;
    display: grid;
    align-items:center;
}
.header p{
    font-family: "Montserrat-Bold";
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: rgba(255, 255, 255, 0.1);
    background-image: linear-gradient(rgb(226, 226, 226), rgb(112, 112, 112));
}
.header .title{
    width: 100%;
    justify-content: center;
    text-align: center;
    display: flex;
    align-items:center;
    z-index: 200;
}
.header img{
    width: 50px;
    height: 50px;
    padding: 0px 10px;
    border-radius: 50%;
}
.gradient {
    background: linear-gradient(to right, rgb(136, 11, 161), rgb(173, 7, 35));
}
.brown_color, .blue_color{
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: rgba(255, 255, 255, 0.1);
}
.brown_color {
    background-image: linear-gradient(rgb(138, 79, 40), rgb(40, 138, 69));
}
.blue_color {
    background-image: linear-gradient(rgb(32, 129, 185), rgb(94, 40, 138));
}
.write_anim {
    color: inherit;
    animation: write_anim 1s infinite;
    color: rgb(205, 205, 205);
}
.code {
    font-family: "RobotoMono-Light";
    padding: 0px 2px;
    background: rgba(15, 15, 15, 0.5);
    width: max-content;
    border-radius: 5px;
}
.important_box {
    padding: 10px;
    background: linear-gradient(to right, rgb(136, 11, 161), rgb(7, 120, 173));
    text-align: start;
}
img.icon {
    width: 50px;
    height: 50px;
    opacity: 0.2;
}
.layer_1 {
    overflow: hidden;
    position: absolute;
    width: calc(100% - 40px);
    height: calc(50vh - 20px);
    z-index: 1;
}
.top_left {
    position: absolute;
    top: 0;
    left: 0;
}
.top20_right10 {
    position: absolute;
    top: 40px;
    right: 30px;
}
.bottom_right {
    position: absolute;
    bottom: 0;
    right: 0;
}
.bottom_left40 {
    position: absolute;
    bottom: 0;
    left: 40px;
}
.rotate45deg {
    transform: rotateZ(45deg);
    animation: rotate45deg 1s infinite;
}
@keyframes rotate45deg {
    0% {
        transform: rotateZ(45deg);
    }
    50% {
        transform: rotateZ(50deg);
    }
    100% {
        transform: rotateZ(45deg);
    }
}
.rotate-45deg {
    transform: rotateZ(-45deg);
    animation: rotate-45deg 1s infinite;
}
@keyframes rotate-45deg {
    0% {
        transform: rotateZ(-45deg);
    }
    50% {
        transform: rotateZ(-50deg);
    }
    100% {
        transform: rotateZ(-45deg);
    }
}
@keyframes write_anim{
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@media screen and (max-width: 550px) {
    .content {
        padding: 10px;
    }
}